header img{
    height: 100px;
}

.topbar{
    background-color: black;
    width:  100%;
    height: 30px;
    color: white;
    list-style: none;
}
.topbar li{
    float: left;
    padding-left: 100px;
    line-height: 40px;
    font-size:15px;
    padding-left:35px;
}

.left{
    float:left;
    width:70%;
    height:1200px;
}

.right{
    float:right;
    width:30%;
    height:1200px;
}

form{
    background-color:#fbfbfb;
    border:3px #ebebeb solid;
    border-radius:10px;
    width:800px;
}

form div{
    padding:15px;
}

.nyuryokuform h2{
    border-left:5px solid red;
}

.submit{
    border:1px solid lightgray;
    padding: 4px 10px;
    color:white;
    background-color: #bfbfbf;
    border-radius: 5px;
    border-bottom: solid 2px gray;
}

.kiji{
    background-color:#fbfbfb;
    border:3px #ebebeb solid;
    border-radius:10px;
    width:800px;
    margin-top:10px;
}
.kiji h2{
    border-bottom: 1px solid black;
}

.right h2{
    border-bottom:1px dotted black;
}



li{
list-style: none;
}

footer{
    clear: both;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    
}

